@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700);
 
 * {
  font-family: 'Comfortaa';
  font-weight: 700;
 }
 
 body {
  background-image: url("imgs/galaxy.png")
 }

 canvas {
  background-image: url("imgs/stars.png");
} 

#game-on {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  border: .5px solid blue;
  border-radius: 30px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
} 

#play {
  border: none;
  width: 300px;
  margin: auto;
  background-color: red;
  border-radius: 20px;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 100px;
  margin-top: 35px;
}

.navbar {
  height: 70px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 1.8em;
  letter-spacing: .2em;
}

.wha {
  display: inline-block;
  text-align: right;
}


.wha a {
  color: white;
  font-size: 1em;
  letter-spacing: .2em;
  text-decoration: none;
}

#how-to {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1em;
  letter-spacing: .2em;
  font-weight: 700;
  height: 130px;
}

#how-to img {
  
}

footer {
  height: 200px;
}